

* {
    box-sizing: border-box;
  }

.mypage{
  background-color: #e1bee7;
  height: 100vh;
  font-size: 30px;
}

.userinfo-title{
padding: 15px 0px 15px 0px;
}

.userinfo{
  background-color: #ffcdd2;
  display: flex;
  /* justify-content:space-around; */
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.userinfo-title{
  margin: 15px 20px 15px 20px;
}


.userinfo-detail{
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding: 15px 0px 15px 0px;
  height: 20vh;
  font-size: 30px;
  text-align: left;
  width: 60vw;

}

.group-title{
  padding: 15px 0px 15px 0px;
}

.groupinfo{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-box{
  padding: 15px;
  height: 30vh;
  overflow-y: scroll;
  width: 60vw;
  border-top: solid black 1px;
  border-bottom: solid black 1px;

}

.group-name{
  display: flex;
  justify-content: space-between;
}

.group-box::-webkit-scrollbar {
  display: none;
  
}

.buttons{
  display: flex;
  justify-content: right;
  width: 60vw;
  padding: 15px 0px 15px 0px;
}

.delete{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
}
  