* {
  box-sizing: border-box;
}

img {
  height: 50px;
}

img:hover {
  color: white;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
  height: 7vh;
}

.taps {
  display: flex;
  font-size: 20px;
}

.direction {
  display: flex;
}

.logo {
  display: flex;
}

.tap {
  padding: 10px 20px 10px 20px;
}

.lastap {
  padding: 10px 40px 10px 20px;
}

.tap:hover {
  background-color: #004d40;
  color: white;
  cursor: pointer;
}

.lastap:hover {
  background-color: #004d40;
  color: white;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.menu {
  display: none;
}

@media screen and (max-width: 760px) {
  header {
    background-color: black;
    color: white;
  }

  .logo {
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
  }

  .direction {
    position: fixed;
    flex-direction: column;
    top: 50px;
    left: 0;
    background-color: black;
  }

  .tap {
    position: relative;
  }

  .menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px 10px 20px;
  }

  .lastap {
    position: fixed;
    top: 0;
    right: 0;
    padding: 13px 20px 10px 20px;
  }
}
